<div class="w-50 mx-auto mb-4">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="row g-3">
    <div class="col-md-6">
      <label for="nameOne" class="form-label"
        ><span class="text-danger">*</span> Primer Nombre</label
      >
      <input
        type="text"
        class="form-control"
        formControlName="nameOne"
        oninput="this.value = this.value.toUpperCase()"
        id="nameOne"
        maxlength="20"
        required
      />
      <div
        id="emailHelp"
        *ngIf="nameOne.invalid && (nameOne.dirty || nameOne.touched)"
        class="form-text text-danger"
      >
        <ul>
          <li>El campo es obligatorio.</li>
          <li>Debe tener máximo 20 carácteres.</li>
          <li>No se permiten acentos y números.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <label for="otherNames" class="form-label">Otros Nombres</label>
      <input
        type="text"
        class="form-control"
        formControlName="otherNames"
        oninput="this.value = this.value.toUpperCase()"
        maxlength="50"
        id="otherNames"
      />
      <div
        id="emailHelp"
        *ngIf="otherNames.invalid && (otherNames.dirty || otherNames.touched)"
        class="form-text text-danger"
      >
        <ul>
          <li>Debe tener máximo 50 carácteres.</li>
          <li>No se permiten acentos y números.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <label for="surnameOne" class="form-label"
        ><span class="text-danger">*</span> Primer Apellido</label
      >
      <input
        type="text"
        class="form-control"
        formControlName="surnameOne"
        oninput="this.value = this.value.toUpperCase()"
        id="surnameOne"
        maxlength="20"
        required
      />
      <div
        id="emailHelp"
        *ngIf="surnameOne.invalid && (surnameOne.dirty || surnameOne.touched)"
        class="form-text text-danger"
      >
        <ul>
          <li>El campo es obligatorio.</li>
          <li>Debe tener máximo 20 carácteres.</li>
          <li>No se permiten acentos y números.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <label for="surnameTwo" class="form-label"
        ><span class="text-danger">*</span> Segundo Apellido</label
      >
      <input
        type="text"
        class="form-control"
        formControlName="surnameTwo"
        oninput="this.value = this.value.toUpperCase()"
        id="surnameTwo"
        maxlength="20"
        required
      />
      <div
        id="emailHelp"
        *ngIf="surnameTwo.invalid && (surnameTwo.dirty || surnameTwo.touched)"
        class="form-text text-danger"
      >
        <ul>
          <li>El campo es obligatorio.</li>
          <li>Debe tener máximo 20 carácteres.</li>
          <li>No se permiten acentos y números.</li>
        </ul>
      </div>
    </div>
    <div class="col-12">
      <label for="admission" class="form-label"
        ><span class="text-danger">*</span> Fecha de ingreso</label
      >
      <input
        type="date"
        class="form-control"
        id="admission"
        max="{{ today | date: 'yyyy-MM-dd' }}"
        formControlName="admission"
        required
      />
      <div
        id="emailHelp"
        *ngIf="admission.invalid && (admission.dirty || admission.touched)"
        class="form-text text-danger"
      >
        <ul>
          <li>El campo es obligatorio.</li>
          <li>La fecha debe ser pasada.</li>
        </ul>
      </div>
    </div>
    <div class="col-12">
      <label for="area" class="form-label"
        ><span class="text-danger">*</span> Area</label
      >
      <button
        type="button"
        class="btn btn-link text-dark"
        (click)="onCreateArea()"
      >
        Crear Nueva
      </button>
      <select class="form-select" id="area" formControlName="area" required>
        <option selected value="">No selección</option>
        <option *ngFor="let area of areas" value="{{ area.id }}">
          {{ area.name }}
        </option>
      </select>
      <div
        id="emailHelp"
        *ngIf="area.invalid && (area.dirty || area.touched)"
        class="form-text text-danger"
      >
        <ul>
          <li>El campo es obligatorio.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <label for="country" class="form-label"
        ><span class="text-danger">*</span> País</label
      >
      <select
        class="form-select"
        formControlName="country"
        id="country"
        required
      >
        <option selected value="">No selección</option>
        <option value="CO">Colombia</option>
        <option value="US">Estados Unidos</option>
      </select>
      <div
        id="emailHelp"
        *ngIf="country.invalid && (country.dirty || country.touched)"
        class="form-text text-danger"
      >
        <ul>
          <li>El campo es obligatorio.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <label for="typeId" class="form-label"
        ><span class="text-danger">*</span> Tipo de identificación</label
      >
      <select class="form-select" id="typeId" formControlName="typeId" required>
        <option selected value="">No selección</option>
        <option value="CC">Cédula de ciudadanía</option>
        <option value="CE">Cédula de extrangería</option>
        <option value="PP">Pasaporte</option>
        <option value="PE">Permiso Especial</option>
      </select>
      <div
        id="emailHelp"
        *ngIf="typeId.invalid && (typeId.dirty || typeId.touched)"
        class="form-text text-danger"
      >
        <ul>
          <li>El campo es obligatorio.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <label for="numID" class="form-label"
        ><span class="text-danger">*</span> N° Identificación</label
      >
      <input
        type="text"
        class="form-control"
        id="numID"
        formControlName="numID"
        required
      />
      <div
        id="emailHelp"
        *ngIf="numID.invalid && (numID.dirty || numID.touched)"
        class="form-text text-danger"
      >
        <ul>
          <li>El campo es obligatorio.</li>
        </ul>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button
        [disabled]="employeeForm.invalid"
        class="btn btn-dark"
        type="submit"
      >
        Guardar <i *ngIf="!loading" class="ms-2 fas fa-save"></i>
        <i *ngIf="loading" class="ms-2 fas fa-spinner fa-pulse"></i>
      </button>
    </div>
  </form>
</div>
