<nav>
  <ul class="pagination justify-content-end">
    <li
      *ngFor="let page of pages"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="page-item"
      aria-current="page"
    >
      <a routerLink="/{{ page }}" class="page-link">{{ page }}</a>
    </li>
  </ul>
</nav>
