<div class="row g-3">
  <div class="col-md-4">
    <label for="filter" class="form-label">Filtrar por Nombres</label>
    <input
      type="text"
      class="form-control"
      name="filter"
      id="filter"
      [(ngModel)]="filter"
      placeholder="Buscar"
      id="surnameTwo"
    />
  </div>
  <div class="col-md-4">
    <label for="country" class="form-label"> Filtrar por país</label>
    <select
      [(ngModel)]="filterCountry"
      name="filterCountry"
      class="form-select"
      id="country"
    >
      <option selected value="">Sin filtro</option>
      <option value="CO">Colombia</option>
      <option value="US">Estados Unidos</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="typeId" class="form-label"
      >Filtrar por tipo de identificación</label
    >
    <select
      [(ngModel)]="filterType"
      name="filterType"
      class="form-select"
      id="typeId"
    >
      <option selected value="">Sin filtro</option>
      <option value="CC">Cédula de ciudadanía</option>
      <option value="CE">Cédula de extrangería</option>
      <option value="PP">Pasaporte</option>
      <option value="PE">Permiso Especial</option>
    </select>
  </div>
</div>

<div class="table-responsive text-center mt-4">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Email</th>
        <th scope="col"># ID</th>
        <th scope="col">Ingreso</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let employee of employees
            | filter: filter
            | filterByCountry: filterCountry
            | filterByCountry: filterType;
          let indice = index
        "
      >
        <th scope="row">{{ indice + 1 }}</th>
        <td>{{ employee.nameOne }} {{ employee.otherNames }}</td>
        <td>{{ employee.surnameOne }} {{ employee.surnameTwo }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.numID }}</td>
        <td>{{ employee.admission | date: "dd/MM/YYYY HH:mm:ss" }}</td>
        <td>
          <button
            class="btn btn-sm btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#updateModal"
            (click)="activeEmployee(employee)"
          >
            <i class="far fa-edit"></i>
          </button>
          <button
            class="btn btn-sm btn-danger ms-1"
            (click)="deleteEmployee(employee.id)"
          >
            <i class="far fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-pagination></app-pagination>

<h4 *ngIf="!employees.length" class="text-center">
  Opps!! No se encontrarón resultados,
  <a class="text-dark" routerLink="/register">Ir a crear empleado</a>
</h4>

<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <app-modal></app-modal>
</div>
