<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo01">
      <a class="navbar-brand" routerLink="/{{ currentPage }}">Cidenet</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/{{ currentPage }}"
            routerLinkActive="active"
            aria-current="page"
            >Empleados</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/register"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            class="nav-link"
            >Registrar empleado</a
          >
        </li>
      </ul>
      <div class="d-flex text-white">
        © 2021 Copyright:
        <a
          class="text-white ms-2"
          target="__blank"
          href="https://alexanderjs.netlify.com"
          >Alexander Peñaloza</a
        >
      </div>
    </div>
  </div>
</nav>
