<footer class="bg-dark text-center text-white text-lg-start b-0">
  <div class="text-center p-2">
    © 2021 Copyright:
    <a class="text-white" href="https://alexanderjs.netlify.com"
      >Alexander Peñaloza</a
    >
  </div>
</footer>
