<div class="modal-dialog">
  <form
    *ngIf="active"
    [formGroup]="updateForm"
    (ngSubmit)="onSubmit()"
    class="modal-content"
  >
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Actualizar Empleado</h5>
      <button
        type="button"
        (click)="deactivateEmployee()"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <div class="row g-3">
        <div class="col-md-6">
          <label for="nameOne" class="form-label"
            ><span class="text-danger">*</span> Primer Nombre</label
          >
          <input
            type="text"
            oninput="this.value = this.value.toUpperCase()"
            class="form-control"
            formControlName="nameOne"
            id="nameOne"
            maxlength="20"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="otherNames" class="form-label">Otros Nombres</label>
          <input
            type="text"
            oninput="this.value = this.value.toUpperCase()"
            class="form-control"
            id="otherNames"
            maxlength="50"
            formControlName="otherNames"
          />
        </div>
        <div class="col-md-6">
          <label for="surnameOne" class="form-label"
            ><span class="text-danger">*</span> Primer Apellido</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="surnameOne"
            oninput="this.value = this.value.toUpperCase()"
            id="surnameOne"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="surnameTwo" class="form-label"
            ><span class="text-danger">*</span> Segundo Apellido</label
          >
          <input
            type="text"
            oninput="this.value = this.value.toUpperCase()"
            class="form-control"
            formControlName="surnameTwo"
            id="surnameTwo"
            required
          />
        </div>
        <div class="col-12">
          <label for="area" class="form-label"
            ><span class="text-danger">*</span> Area</label
          >
          <select class="form-select" id="area" formControlName="area" required>
            <option selected value="">No selección</option>
            <option *ngFor="let area of areas" value="{{ area.id }}">
              {{ area.name }}
            </option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="country" class="form-label"
            ><span class="text-danger">*</span> País</label
          >
          <select
            class="form-select"
            id="country"
            formControlName="country"
            required
          >
            <option selected value="">No selección</option>
            <option value="CO">Colombia</option>
            <option value="US">Estados Unidos</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="typeId" class="form-label"
            ><span class="text-danger">*</span> Tipo</label
          >
          <select
            class="form-select"
            formControlName="typeId"
            id="typeId"
            required
          >
            <option selected value="">No selección</option>
            <option value="CC">Cédula de ciudadanía</option>
            <option value="CE">Cédula de extrangería</option>
            <option value="PP">Pasaporte</option>
            <option value="PE">Permiso Especial</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="numID" class="form-label"
            ><span class="text-danger">*</span> N° Identificación</label
          >
          <input
            type="text"
            class="form-control"
            id="numID"
            formControlName="numID"
            required
          />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="updateForm.invalid"
        type="submit"
        class="btn btn-primary"
      >
        Guardar <i class="ms-2 fas fa-save"></i>
      </button>
    </div>
  </form>
</div>
