body {
  background: #0083a9;
}

html {
  position: relative;
  min-height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active a {
  background: #212529 !important;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
